<style type="text/css">
	@media (min-width: 768px) {
	  html {
	    font-size: 16px;
	  }
	}

	#navbar{
  	background-color: #3b5998
  }


	form{
		width: 100%;
	}

</style>

<!-- Header -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">


	<nav class='navbar mynav navbar-fixed-top' role ='navigation'  id ='navbar' >
		<div class="container">
			<a class ='navbar-brand mynav' href="{% url 'home' %}" style="color:white">BlogsApp</a>

			<ul class ='nav navbar-nav navbar-right'>
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'account' %}" style="color:white">Account</a>
					<li><a href="{% url 'logout' %}" style="color:white">Logout</a>
				{% else %}
					<li><a href="{% url 'login' %}" style="color:white">Login</a>
					<li><a href="{% url 'register' %}" style="color:white">Register</a>
				{% endif %}
			</ul>
		</div>

  </nav>

	<br><br><br><br>

</div>


<!-- End Header -->
